@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    int i = 1;
    var buttonData = new List<string> { "Button 1", "Button 2", "Button 3" };
}

<div class="text-center">
    <div class="row justify-content-md-center my-4">
        <div class="col-md-auto">
            <h1 class="mb-4 font-weight-bold">Enter city or country name</h1>
            <form method="post">
                
                <div class="d-flex align-items-center">
                    <input asp-for="Cityname" class="form-control " />
                    @*<button type="submit" class="btn btn-success">Get data</button>*@
                    @(Html.Kendo().Button()
                        .Name("getDataButton")
                        .HtmlAttributes(new { type = "submit" })
                        .Content("Get data")
                        .Size(ComponentSize.Medium)
                        .ThemeColor(ThemeColor.Success)
                        )
                    
                </div>
            </form>
            <span class="text-danger font-italic font-weight-bold">@Request.Cookies["ValidationCookie"]</span>
        </div>
    </div>
    

    <div class="card px-3 pt-3 border border-primary rounded">
    <table class="table table-striped">
        <tr>
            <th>#</th>
            <th>City</th>
            <th>Country</th>
            <th>Temperature</th>
            <th>Information</th>
            <th>Last update</th>
            <th>Operation</th>
        </tr>
        @foreach (var item in Model.cities)
        {
            <tr>
                <th>
                    @i @{
                        i += 1;
                    }
                </th>
                <td>@Html.DisplayFor(modelitem => item.CityName) </td>
                <td>@Html.DisplayFor(modelitem => item.Country) </td>
                <td>@Html.DisplayFor(modelitem => item.Temp_C) C / @Html.DisplayFor(modelitem => item.Temp_F) F</td>
                <td>@Html.DisplayFor(modelitem => item.Info) </td>
                <td>@Html.DisplayFor(modelitem => item.LastUpdate) </td>
                <td>
                    <div class="row justify-content-md-center">
                        <div class="col-md-auto">
                            <form method="get" asp-page="/City/Update">
                                <input type="hidden" value="@Html.DisplayFor(modelitem => item.Id)" name="CityId" />
                                @*<button type="submit"  class="btn btn-primary btn-sm")">Update</button>*@
                                @(Html.Kendo().Button()
                                    .Name("update" + i + "Button")
                                    .HtmlAttributes(new { type = "submit" })
                                    .Content("Update")
                                    .Size(ComponentSize.Small)
                                    .ThemeColor(ThemeColor.Primary)
                                    )
                            </form>
                        </div>
                        <div class="col-md-auto">
                            <form method="get" asp-page="/City/Edit">
                                <input type="hidden" value="@Html.DisplayFor(modelitem => item.Id)" name="CityId" />
                                @*<button type="submit" class="btn btn-warning btn-sm">Edit</button>*@
                                @(Html.Kendo().Button()
                                    .Name("warning" + i + "Button")
                                    .HtmlAttributes(new { type = "submit" })
                                    .Content("Edit")
                                    .Size(ComponentSize.Small)
                                    .ThemeColor(ThemeColor.Warning)
                                    )
                            </form>
                        </div>
                        <div class="col-md-auto">
                            <form method="get" asp-page="/City/Delete">
                                <input type="hidden" value="@Html.DisplayFor(modelitem => item.Id)" name="CityId" />
                                @*<button type="submit" class="btn btn-danger btn-sm">Delete</button>*@
                                @(Html.Kendo().Button()
                                    .Name("danger" + i + "Button")
                                    .HtmlAttributes(new { type = "submit" })
                                    .Content("Delete")
                                    .Size(ComponentSize.Small)
                                    .ThemeColor(ThemeColor.Error)
                                    )
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </table>
    </div>
</div>